
@font-face{
    font-family: "Proxima Nova";
    src:url('../fonts/proximanova-regular-webfont.woff') format('woff'),
     url('../fonts/proximanova-regular-webfont.woff2') format('woff2');
    font-weight: normal;
}

@font-face{
    font-family: "Proxima Nova";
    src: url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
    url('../fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: bold;

}

@font-face{
    font-family: "Proxima Nova";
    src: url('../fonts/proxima_nova_black-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_black-webfont.woff') format('woff');
    font-weight: 200;
}

html,body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 105px;
}

body{
    font-family: "Proxima Nova",sans-serif;
    margin-top: 11vw;
}

.btn-outline-primary{
    border-width: 2px;
}

.btn-outline-primary:hover{
    border-color: #172050;
    background-color: #172050 !important;
    color: white;
}

.logo{
    font-weight: bold;
    color: #172050 !important;
}

.logo-pic{
    margin-bottom:10px;
    margin-right: 10px;
}

.navbar{
    background-color: white !important;
}

.starting-section{
    width: 100%;
    margin-bottom: 11%;    
}

.intro-animation{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 4vw;
}

.line-animation{
    position: absolute;
    width: 32%;
    margin-top: 3.3vh;
    right: 35vw;
    transform: rotate(10deg);
}

.line-animation path{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 4s ease-in forwards;
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
.laptop{
    width: 35vw;
}

.popup{
    margin-bottom: 12vw;
    width: 10.8vw;
    animation:scale 2s ease-in-out forwards;
    animation-delay: 1.6s;
    margin-right: 5.5vw;
    transform: scale(0);
}

@keyframes scale{
    0%{ transform: scale(0);}
    75%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

.intro-text, .intro-p{
    color: #172050 !important;
}

.intro-text{
    font-size: 2.5em;
}

.intro-p{
    font-size: 1.5em;
}

.blue-container{
    text-align: center;

    font-size: 2em;
    font-weight: bold;
    color: white;
    width: 100%;
    border-radius: 100px;
    background-color: #172050;
}

.card-array-container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-array-container > div{
    margin-top: 3em;
    flex-basis: 26%;
}

.contact-container{
    text-align: left;
    width: 80%;
    color: #f47334;
    border-radius: 20px;
    margin-bottom: 2.5%;
}

.contact-container .big {
    font-size: 3.5em;
    margin-left: 3vw;
    color: #172050;
}

.contact-container .big:hover {
    color: #f47334;
    transition: 0.15s;
}


.clipboard{
    color: #172050;
}

.clipboard:hover{
    color: #f47334;
    transition: 0.12s;
    cursor: pointer;;
}

.contact-container .title{
    font-size: 4em;
}

footer{
    width: 100%;
    margin-left: 11%;
}

.blue{
    color: #172050 !important;
}

.carousel-indicators{   
    margin:0 auto 0 auto;
    width: 100%;
    background-color: #172050 ;
    opacity: 0.7;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f47334' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f47334' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

img .survive {
    transform: scale(3.0);
}

.about-container{
    width: 100%;
    background-color: #172050;
    padding: 10vh 4vw 10vh 4vw;
    margin-top: 10%;
    margin-bottom: 17%;
    color: white;
    text-align: left;
    border-radius: 60px;
}

.about-profile{
    width: 60%;
}

.scrolled{
    transition: 0.3s;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}



/* large */

@media(min-width:1980px){
    .line-animation{
        margin-top: 6vh;
        margin-right: 1vh;
        transform: rotate(11deg);
    }
}

@media(max-width: 1980px){
    .line-animation{
        margin-top: 4.5vh;
        margin-right: 1vh;
        transform: rotate(11deg);
    }

}
@media ( max-width: 1480px) {
    .line-animation{
        margin-top: 4.5vh;
        margin-right: 1vh;
        transform: rotate(10deg);
    }
}
    
  
@media ( max-width: 1080px) {
    .card-array-container > div {
      flex-basis: 34%;
    }
    .line-animation{
        margin-top: 2vh ;
    }
  
}
/* medium */
@media ( max-width: 760px) {
    .card-array-container > div {
        flex-basis: 51%;
    }

    .intro-animation{
        margin-top: 10vh;
    }

    .line-animation{
        margin-top: 1.2vh ;
        margin-left:1vw;
    }
}